@model IEnumerable<irovagoMVC.Models.OfferMVCModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IROVAGO</h1>
    <p class="lead">Irovago is a free web application to find your perfect hotel. We serve with our agency partners. If you want to start please check new offers. Register now and benefit from IROVAGO'S unique offers and thousands of features that make your search easier. Looking for a hotel ? IROVAGO... </p>
</div>

<div class="container" id="myDIV">
    @foreach (var item in Model)
    {
        <div class="card mb-3" id="card-hotels">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img-top" style="width:100%; height:200px;" src="@item.Hotel.imgHotel" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="padding-bottom:10px;">
                        <h2 class="card-title">@item.Hotel.name</h2>
                        <p class="card-text">@item.Hotel.explanation</p>
                        <p class="card-text">@item.Hotel.address</p>
                        <h3 class="card-text">@item.price TL</h3>
                        <p class="card-text">@item.Agency.brand</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>